/* The Great Reset */
/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/
/*body {*/
/*    line-height: 1;*/
/*}*/
/*ol, ul {*/
/*    list-style: none;*/
/*}*/
/*blockquote, q {*/
/*    quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*    content: '';*/
/*    content: none;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/
/* End of The Great Reset */

body {

}

h2 {
    font-family: Avenir;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". . ."
    ". form-block ."
    ". . ."
    ". . .";
    align-items: stretch;
    justify-items: stretch;
    width: 100vw;
    height: 100vh;
}

.form-block {
    grid-area: form-block;
    background-color: #a5eac1;
    align-self: stretch;
    justify-self: stretch;
    display:grid;
    padding: 15% 7% 15% 7%;
    border-radius: 5px;

}

.form-block > div {
    align-self: center;
    justify-self: stretch;
}


#uname-warning, #pword-warning {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

#form-title-block {

}

#username-block {

}

#password-block {

}
